// ************************************************************
// COLORS
// ************************************************************
$bg-green: #8ECA88;
$bg-footer: #515151;
$full-white: white;
$black: black;
$bg-dark-green: #3C9700;
$blue: rgb(32, 156, 194);
$red-dash: rgb(222, 24, 91);
$red-cards: rgb(227, 17, 84);
$red-price:rgb(255, 0, 15);
$yellow: rgb(238, 216, 51);
$white: rgb(246, 246, 251);
$light-black: rgb(50, 46, 64);
$light-blue: rgb(82, 208, 238);
$purple: rgb(117, 99, 241);
$green-border:rgb(61, 151, 0);
